<div class="topnav">
  <a [routerLink]="['/first']">Main</a>
  <a [routerLink]="['/second']">Animals</a>
  <a [routerLink]="['/other']">Other</a>
  <a [routerLink]="['/login']" style="float:right">Logout</a>
</div>

<div style="padding: 20px;" role="main" (click)="hello()">

    <!-- Highlight Card -->
    <div style="margin-bottom: 20px;" class="getanimals">
  
      <span>Get all the animals: </span>
  
    </div>

    <table id="animals">  
      <thead>  
          <tr>  
            <th>Name</th>  
            <th>Age</th>  
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let x of json">
          <td>{{x["name"]}}</td>
          <td>{{ x["age"] }}</td>
        </tr>  
      </tbody>  
    </table>
  </div>